<!DOCTYPE html>

<html>
	<head>
		<title>Messages</title>
	</head>

	<style type="text/css">		
		
		input(type=submit) {
			font-size: 24px
		}
		
		hr {
			margin: 20px auto;
		}
		
		
	</style>
	
	<body>
		<label>
			{{text}}
		</label>
		
		<form method="post">
			<label>
				<div>recipient</div>
				<input type="text" name="recipient", value="{{recipient}}">
			</label>
			
			<label>
				<div>content</div>
				<textarea name="content">{{content}}</textarea>
			</label>
			
			<input type="submit">
		</form>
		
		<hr>
		
		{% for message in messages %}
			<div class="message">
				<div class="message-sender">{{message.sender}}</div>(sender)
				<div class="message-recipient">{{message.recipient}}</div>(recipient)
				<div class="message-content">{{message.content}}</div>(content)
				<div class="message-type">{{message.type}}</div>(type)
				<div class="message-created">{{message.created}}</div>(created)
			</div>
			<br>
		{% endfor %}
			
	</body>
	
</html>