<!DOCTYPE html>

<html>
	<head>
		<title>Friends</title>
	</head>

	<style type="text/css">		
		
		input(type=submit) {
			font-size: 24px
		}
		
		hr {
			margin: 20px auto;
		}
		
		
	</style>
	
	<body>
		<label>
			{{text}}
		</label>
		
		<form method="post">
			<label>
				<div>user</div>
				<input type="text" name="user", value="{{user}}">
			</label>
			
	
	<label>
				<div>friend</div>
				<input type="text" name="friend", value="{{friend}}">
			</label>
			
			<input type="submit">
		</form>
		
		<hr>
		
		{% for friend in friends %}
			<div class="friend">
				<div class="friend-user">{{friend.user}}</div>(user)
				<div class="friend-friend">{{friend.friend}}</div>(friend)
			</div>
			<br>
		{% endfor %}
			
	</body>
	
</html>